{%extends "main/base.html"%}

{%block title%}
{{ls.name}}
{%endblock%}

{%block content%}
<div class="card" style="margin-bottom: 10px;">
    <div class="card-body">
        <h1 class="card-heading">{{ls.name}}</h1>
        <div class="dropdown-divider"></div>
        <p>{{ls.content}}</p>
    </div>
</div>

    <h3 class="3">Comments</h3>
    <div class="dropdown-divider"></div>
    <ul>
    {%for item in ls.item_set.all%}
    <div class="card" style="width:400px ; margin-bottom: 20px;">
        <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.text}}</p>
          <div class="card-footer">{{item.date_posted}}</div>
        </div>
      </div>
    {%endfor%}
    </ul>
    {% if user.is_authenticated %}
    <form method="POST" action=#>
        {%csrf_token%}
    <input type="text" name="item" >
    <button type="submit" name="save" value="save">Add Comment</button>
    </form>
    {% endif %}
{%endblock%}